@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .Layout {
    min-height: 100vh;

    @apply bg-stone-300 dark:bg-zinc-900 dark:text-slate-300;
  }

  .AppBar {
    display: flex;
    align-items: center;

    @apply bg-slate-500 dark:bg-slate-800 dark:text-slate-300;
  }

  .NavBar {
    display: flex;

    @apply bg-slate-500 dark:bg-slate-800 dark:text-slate-300;
  }

  .activeNavLink {
    @apply bg-slate-400 dark:bg-slate-700 dark:text-slate-300;
  }

  .Card {
    min-height: 5rem;
    border-radius: 5px;
    break-inside: avoid;
    margin: 0 0 1rem 0;
    padding: 1rem;

    @apply bg-slate-400 dark:bg-slate-700 shadow-xl;
  }

  .Card.completed {
    @apply bg-emerald-600 dark:bg-emerald-700;
  }

  .Card textarea {
    width: 100%;
    @apply dark:bg-slate-800 dark:text-slate-300 p-1;
  }

  .Chip {
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    @apply bg-stone-300 dark:bg-teal-800 dark:text-slate-300;
  }

  .Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @apply py-2;
  }

  .Pagination select {
    @apply dark:bg-slate-800 dark:text-slate-300;
  }

  .ChangePage {
    width: 1em;
    display: inline-block;
    margin: 0 0.5em;
    cursor: pointer;
  }

  .ChangePage.disabled {
    /*cursor: auto;*/
    pointer-events: none;
    @apply text-gray-600;
  }

  .Button {
    cursor: pointer;

    @apply bg-blue-700 text-slate-200 m-2 p-2 rounded;
  }

  .Button.disabled {
    pointer-events: none;

    @apply bg-gray-400 text-gray-200 dark:bg-gray-600 dark:text-gray-400;
  }

  .AddTodo textarea {
    flex: 1 1 auto;

    @apply dark:bg-slate-800 dark:text-gray-200 p-1;
  }

  .Dialog {
    width: 200px;
    border-radius: 1rem;
    padding: 1rem;

    @apply bg-stone-200 dark:bg-stone-500 text-red-800 shadow-xl;
  }

  .logo {
    float: left;
    /*margin: 1rem;*/

    @apply w-20 m-4 sm:w-28 lg:w-36 xl:w-44 sm:m-5 md:m-6 lg:m-7 xl:m-8;
  }

  .LightMode {
    margin: 0.5rem 1rem 0.5rem auto;
    cursor: pointer;

    @apply w-6;
  }

  .IconButton {
    width: 2rem;
    cursor: pointer;

    @apply text-slate-700 dark:text-slate-300;
  }

  .GitHubLink {
    border-radius: 0.5rem;
    padding: 0.5rem;

    @apply bg-cyan-700 dark:bg-indigo-800 shadow;
  }
}

.NavBar a {
  padding: 1rem;
  cursor: pointer;
}

.Description p {
  text-indent: 2rem;
  margin-top: 1rem;
}

.Description .header {
  text-align: center;
}

.AddTodo {
  display: flex;
  width: 100%;
}

.Dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(100, 100, 100, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dialog-title {
  text-align: center;
  margin-bottom: 1rem;
}
