@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .Layout {
    min-height: 100vh;

    @apply dark:text-slate-300;
  }

  .AppBar {
    display: flex;
    @apply dark:bg-slate-800 dark:text-slate-300;
  }

  .activeNavLink {
    background: #334155;
  }

  .Card {
    min-height: 5rem;
    border-radius: 5px;
    break-inside: avoid;
    margin: 0 0 1rem 0;
    padding: 1rem;

    @apply bg-slate-700;
  }

  .Card.completed {
    @apply bg-emerald-700;
  }

  .Card textarea {
    width: 100%;
    @apply dark:bg-slate-800 dark:text-slate-300;
  }

  .Chip {
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-block;
    background: #616974;
  }

  .Pagination select {
    @apply dark:bg-slate-800 dark:text-slate-300;
  }

  .ChangePage {
    width: 1em;
    display: inline-block;
    margin: 0 0.5em;
    cursor: pointer;
  }

  .ChangePage.disabled {
    /*cursor: auto;*/
    pointer-events: none;
    @apply text-gray-600;
  }

  .Button {
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;

    @apply bg-blue-700 text-slate-200;
  }

  .Button.disabled {
    pointer-events: none;

    @apply bg-gray-800 text-gray-600;
  }

  .AddTodo textarea {
    flex: 1 1 auto;

    @apply dark:bg-slate-800 dark:text-gray-200;
  }
}

.NavBar {
  display: flex;
}

.NavBar a {
  padding: 1rem;
  cursor: pointer;
}

.Pagination {
  display: flex;
  align-items: center;
}

.LightMode {
  width: 2rem;
  margin: 0.5rem 0.5rem 0.5rem auto;
  cursor: pointer;
}

.Description p {
  text-indent: 2rem;
  margin-top: 1rem;
}

.Description .header {
  text-align: center;
}

.IconButton {
  width: 2rem;
  cursor: pointer;
}

.AddTodo {
  display: flex;
  width: 100%;
}

.Dialog-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(100, 100, 100, 0.25);
}
