@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .activeNavLink {
    background: #334155;
  }

  .Card {
    min-height: 5rem;
    border-radius: 5px;
    break-inside: avoid;
    margin: 0 0 1rem 0;
    padding: 1rem;

    @apply bg-slate-700;
  }

  .Card.completed {
    @apply bg-emerald-700;
  }

  .Chip {
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-block;
    background: #616974;
  }

  .Pagination select {
    @apply dark:bg-slate-800 dark:text-slate-300;
  }

  .ChangePage {
    width: 1em;
    display: inline-block;
    margin: 0 0.5em;
    cursor: pointer;
  }

  .ChangePage.disabled {
    cursor: auto;
    pointer-events: none;
    @apply text-gray-600;
  }
}

.Layout {
  min-height: 100vh;
}

.NavBar {
  display: flex;
}

.NavBar a {
  padding: 1rem;
  cursor: pointer;
}

.Pagination {
  display: flex;
  align-items: center;
}
